form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.submit-btn {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: rgba(50,205,50, 0.6);
}

@media (max-width: 460px) {
	form {
        padding: 25px;
    }
}
